body {
  background-color: darkblue;
}
#heading{
  background-color: orangered;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  
}
#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  padding: 10px;
  border-radius: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}